.icon-nav {
    font-size: 16pt;
}

.nav-item {
    width: 24vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
 

}

.nav-menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    z-index: 99;
    background-color: white;
    border-top: 1px solid grey
}