.profile-info {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
    margin-top: 10vh;
}

.mentor-info {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profilepic {
    height: 20vw;
}

.profilepic>img {
    height: 100%;
}
.profile-name{
    color: #1d2539;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 15pt;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.lil-info{
    font-family: 'Raleway', sans-serif;
    color: #1d2539;
    font-weight: 500;
    font-size: 12pt;
}
@media only screen and (min-width: 800px) {
    .profile-info {
        width: 40vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
        
        margin-left: 100px;
    }
    .profilepic {
        height: 100px;
    }
    .mentor-info {
        width: 40vw;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}