.logros{
    width: 100vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.item-logro{
    margin: 0;
    padding: 15px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eee
}
.info-logro{
    display: flex;
    flex-direction: column; 
    margin-left: 15px;
}  
.img-logro{
    margin: 10px;
    width: 10vw;
     height: 10vw
}
@media only screen and (min-width: 800px) {
    .logros{
        width: 40vw;
        height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .img-logro{
        margin: 10px;
        width: 30px;
         height: 30px
    }
}